<% content_for :head do %>
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
  <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<% end %>

<section id="content" class="container-fluid">
  <div class="row">
    <div class="col-md-8" onload=createCartoDbVis()>
      <div id="cartodb-map"></div>
      <script>
          window.onload = function() {
            var map = L.map('cartodb-map').setView([44.4677, 26.100], 10);

            L.tileLayer('http://a.tile.stamen.com/toner/{z}/{x}/{y}.png', {
                attribution: 'stamen http://maps.stamen.com/'
              }).addTo(map);

            cartodb.createLayer(map, '<%= @map.cartodb_url %>').addTo(map);
          }
      </script>
    </div>
    <div class="col-md-4">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <td>
              <div class="page-header">
                <h3><%= @map.name %></h3>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
