<%= Gon::Base.render_data %>
<% content_for :head do %>
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
  <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<% end %>

<section id="content" class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div id="map"></div>
    </div>
    <div class="col-md-4">
      <div class="table-responsive">
        <div class="page-header">
          <h3><%= @map.name %></h3>
        </div>
        <table class="table">
          <% if @map.metadata %>
          <tr>
            <td>
              <% for datapoint in @map.metadata %>
              <tr><h3><%= datapoint[0] %></h3></tr>
              <tr><p><%= datapoint[1].values[0] %></p></tr>
              </div>
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</section>
