// Place all the styles related to the base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$body-primary-color: white;
$menu-primary-color: #ec008c;
$menu-font-color: white;
$font-stack:  Helvetica;
$font-primary-size: 16px;

body {
  background-color: $body-primary-color;

  font-family: $font-stack;
  font-size: $font-primary-size;

  a {
    text-decoration: none;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    font-weight: bold;
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
}

#menu {
  height: 80px;
  background-color: $menu-primary-color;

  a {
    color: $menu-font-color;
  }

  .navbar-brand img {
    height: 50px;
  }

  .navbar-collapse {
    padding-top: 20px;
  }
}

footer {
  height: 65px;
  background-color: $menu-primary-color;
  color: $menu-font-color;

  ul {
    list-style: none;
    display: inline-flex;

    li {
      padding-left: 20px;
    }
  }

  a, a:link, a:visited, a:hover, a:active {
    color: $menu-font-color;
  }

  .footer--project {
    img {
      height: 30px;
      margin-left: 40px;
    }

  }

  .footer--social {
    .fa-github {
      color: black;
    }

    .fa-facebook {
      color: #3b5999;
    }

    .fa-twitter {
      color: #55acee;
    }
  }

  .footer--hack {
    padding-top: 20px;
  }
}
